<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="cloudui">
    <title>cloudui</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>
<!-- <body bgcolor="#3399FF" background="http://chef.vast.com/logo_4_1.png"> -->
<body link="#808080" vlink="#808080" alink="#808080">
<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Cloudui</a>

        <ul>
            <li class="pure-menu-selected"><a href="/create/">Create Cluster</a></li>
            <li><a href="/apikeys/">API Keys</a></li>
            <li><a href="/databases/">Databases</a></li>
	    <li><a href="/alerts/">Alerts</a></li>
            <li><a href="/logout/">Logout</a></li>
        </ul>
    </div>
</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Create Cluster</h1>
    </div>
</div>

<div class="content-wrapper">
        <div class="content">
	<b><font color="red">{{cheader}}</font></b>
        <form id="create" method="post" action="/create/">
	    {% csrf_token %}
	<center>
	    <table>
	    <tr><td>Deploy Type:</td><td><select name="rundeck_job" form="create">
            {% for y in j %}
    		<option value="{{ y.rundeck_id }}">{{ y.rundeck_name }}</option>
            {% endfor %}
            </select></td></tr>
            <tr><td>Release:</td><td><input type="text" name="release" value="" size="50" /></td></tr>
            <tr><td>Hostname [a-Z,0-9,-,.,*]:</td><td><input type="text" name="hostname" value="" size="50" />.cs.oak.vast.com</td></tr>
            <tr><td>Mixdown vastexec plugin (mixdown only):</td><td><input type="text" name="cobrand" value="NULL" size="50" /></td></tr>
            <tr><td><input type="submit" value="submit" /></center></td><td></td></tr>
	    </table>
	</center>
        </form>
</div>
</div>
    </body>
</html>
