<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="cloudui">
    <title>cloudui</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>
<!-- <body bgcolor="#3399FF" background="http://chef.vast.com/logo_4_1.png"> -->
<body link="#808080" vlink="#808080" alink="#808080">
<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">Cloudui</a>

        <ul>
            <li><a href="/create/">Create Cluster</a></li>
            <li><a href="/apikeys/">API Keys</a></li>
            <li><a href="/databases/">Databases</a></li>
	    <li><a href="/alerts/">Alerts</a></li>
            <li><a href="/logout/">Logout</a></li>
        </ul>
    </div>
</div>

&nbsp;<br>
&nbsp;<br>
&nbsp;<br>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Redeploy to {{ckey}}</h1>
    </div>
</div>

<div class="content-wrapper">
        <div class="content">        
	<center>
        <form id="redeploy" method="post" action="/redeploy/{{ckey}}/">
	    {% csrf_token %}
            Release: <input type="text" name="release" value="" size="50" /><br />
            <input type="hidden" name="product" value="{{h.0.product}}" /><br />
            <input type="hidden" name="cluster" value="{{ckey}}" /><br />
            <input type="hidden" name="myenv" value="{{h.0.environment}}" /><br />
            <input type="submit" value="submit" />
        </form>

	</center>
	</div>
	</div>
    </body>
</html>
